[core]
	editor = vim
	autocrlf = true
	longpaths = true
	pager = less -F -X
[user]
	username = rmdth
	email = 166089650+rmdth@users.noreply.github.com
	name = ram
	signingkey = ~/.ssh/id_ed25519.pub
[gpg]
	format = ssh
[commit]
	gpgsign = true
	verbose = true
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
	default = current
[alias]
	s = status
	co = checkout
	cob = checkout -b
	br = branch
	last = log -1 HEAD
	lg = "!git log --graph --abbrev-commit --decorate --color=always --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all | nl -w3 -s' ' | less -R"
	unadd = reset HEAD --
	m = merge
	pr = pull --rebase
	ri = rebase -i
	fix = commit --fixup
	undo = reset HEAD~1
[rebase]
	autosquash = true
	autoStash = true
	updateRefs = true
[fetch]
	prune = true
[pull]
	rebase = true
[diff]
	algorithm = histogram
	colorMoved = default
	mnemonicPrefix = true
	renames = true
[merge]
	conflictstyle = zdiff3
[column]
	ui = auto
